.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
}

/*.contact__column {
  width: 50%;
}*/

.contact__title {
  font-size: 3.0625rem;
  line-height: 3.6875rem;
}

.contact__instruction {
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 1.375rem;
}

.contact__details {
  display: flex;
  justify-content: flex-start;
  color: black;
  align-items: center;
}

.details__item {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.details__item:first-of-type {
  margin-right: 20px;
}


.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__field:first-of-type {
  margin-bottom: 42px;
}

.form__label {
  font-weight: bold;
  text-transform: uppercase;
  color: grey ;
  line-height: 0.9rem;
  letter-spacing: 3px;
  font-size: 0.6875rem;
}

.form__input {
  border: none;
  border-bottom: 1px solid grey;
  background-color: transparent;
  line-height: 2.625rem;
}

.form__consent {
  margin-top: 30px;
}

.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}

.form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form__checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color:$page-bg-color;
  border: 1px solid grey;
  border-radius: 4px;
}

.form .btn {
  font-size: 0.8125rem;
  padding: 20px 97px;
  align-self: flex-end;
  margin-top: 20px;
}

.links3 {
  display: flex;
  justify-content: space-around;
}

.links2 a {
  display: block;
}